div {
    text-align: center;
}

.page-heading {
    font-size: 3.5em;
    font-weight: bolder;
    border: #1a1e21;
}

.page-sub-heading {
    font-size: 1.2em;
}

hr {
    margin: 10px auto;
    border: 5px inherit;
    border-radius: 5px;
}
